body {
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

.first-section, .footer {
    background-color: #1f2937;    
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;    
}

.header-logo, .secondary-header, button, .sign-header, .footer {
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

li, .subtext, .image-placeholder, .sign-content {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    width: 75px;
    height: 30px;
    border-radius: 10px;    
}

button, .container {
    background-color: #3882f6;
}

.button-header {
    border: none;
}

.secondary-header {
    font-size: 48px;
}

.secondary-header, h3 {
    font-weight: 800;
}

.image-placeholder {
    background-color: darkgray;
}

.text {
    color: darkgray;
}

h3, .quote, .quote-author {
    font-size: 36px;
    color: #1f2937
}

.third-section {
    background-color: #e5e7eb;
}

.quote, .quote-author {
    font-style: italic;
}

.button-sign {
    border-color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}